*{
    margin: 0px;
    padding: 0px;
}
body{
background-color: blanchedalmond;
text-align: center;
} 
header{
    float: left;
    width: 850px;
    height: 100px;
    line-height: 55px;
    text-align: center;
    font-family: serif;
    font-size: 20px;
}

.opciones{

    width: 200px;
    height: 100px;
    float: right;
}
.admin{
    width: 50px ;
    height: 50px;
    display: inline;
    text-align: right;
    line-height: 50px;
    font-size: 25px;
}
.foto{
    border-radius: 50px;
    width: 50px ;
    height: 50px;
    float:right;
    line-height: 20px;
    direction: ltr;
}
main{
    float: left;
    width: 1000px;
    height: 600px;
    margin-top: 0px;
    background-image: url();
}
.perfume{
    margin-right: 100px;
    width: 150px ;
    height: 200px;
    display: inline-block;
    text-align: left;
    line-height: 15px;
    font-size: 20px;
    direction: unset;
}
#descripcion{
    height: 100px;
    width: 300px;
}
#Beneficios{
    height: 100px;
    width: 300px;
}
#modo{
    height: 100px;
    width: 200px;
}
#ingre{
    height: 100px;
    width: 200px;
}
form{
    float: left;
    width: 1000px;
    height: 50px;
}
#subir{
    float: right;
}

